html, body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.container{
    border: 20px solid #f582b0;
    background-color: #30c7b8;
    background: linear-gradient(to right bottom, #9bded7, #0e9689);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

img{
    width: 30vh;
    height: auto;
}

/*header*/
.header{
    font-family: 'poppins', sans-serif;
    width: 75%;
    font-weight: bold;
    color: white;
    font-size: 2vw;
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 3vw;
}

/*main picture */
.david{
    display: flex;
    justify-content: center;
}
.mainpic{
    width: 75%;
    height: auto;
}
/*banner under picture*/
.info{
    font-family: 'poppins', sans-serif;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    width: 75%;
    background: #DE9BA2;
    color: white;
}
/*bday message*/
.message{
    font-size: 1.5vw;
    width: 75%;
    height: auto;
    color: white;
}
/*memories section*/
.memories{
    width: 75%;
    display: flex;
    justify-content: space-between;
    color: #DE9BA2;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
}

.memories img{
    width: 15vw;
    height: auto;
}
/*footer*/
footer{
    color: white;
    font-size: 1vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* phone view */
@media only screen and (max-height:845px){
    html, body{
        display: flex;
        align-items: center;
        background-color: #30c7b8;
        background: linear-gradient(to right bottom, #0e9689, #9bded7);
    }
    .container{
        border-radius: 2%;
    }
}